<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container">
    <div class="flex justify-between">
        <span class="text-lg">[[${memberName}]]님이 작성한 글 목록</span>
        <form id="searchForm" method="get">
            <input type="search" placeholder="작성자명" name="memberName" id="memberNameInput"
            th:value="${memberName}">
            <input type="submit" value="검색">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <!-- head -->
            <thead>
            <tr>
                <th>No.</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody th:each="article, loop : ${paging}">
            <!-- row -->
            <tr>
                <th>[[${paging.totalElements - paging.number * paging.size - loop.index}]]</th>
                <td><a th:href="|/b/${memberName}/${article.id}|">[[${article.title}]]</a></td>
                <td>[[${article.author.memberName}]]</td>
                <td>[[${article.createDate}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="join">
        <button th:each="pageNum : ${#numbers.sequence(0, paging.totalPages - 1)}"
                class="join-item btn" th:classappend="${paging.number == pageNum} ? 'btn-active'">
            <a th:href="|?page=${pageNum}|">[[${pageNum}]]</a>
        </button>
    </div>
</div>
<script layout:fragment="script">
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('searchForm');
        var memberNameInput = document.getElementById('memberNameInput');

        // 입력값이 변경될 때 이벤트 리스너 추가
        memberNameInput.addEventListener('input', function () {
            updateFormAction();
        });

        function updateFormAction() {
            // 입력 필드의 현재 값을 가져오기
            var memberNameValue = memberNameInput.value;

            // 새로운 값으로 Form 액션 업데이트
            form.action = '/b/' + encodeURIComponent(memberNameValue);
        }
    });
</script>

</html>